.alert{
   border: rgba(0, 0, 0, 0.4) 1px solid;
   background: hsla(0, 0%, 0%, 0.6);
   padding: 1em;
   border-radius: .675rem;
   color: white;
   transition: all ease .3s;
   animation: enter cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s forwards;
   max-width: 550px;
   /* margin: auto; */

}
.alert-button, button{
   padding: .675rem 2.2rem;
   border: 1px #21dade21 solid;
   border-radius: 12px;
   font-size: 1em;
   background: var(--primary);
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   cursor: pointer;
   user-select: none;
   color: white;
   margin: 2rem 0;
   transition: all .3s linear;

}
button:hover{
   filter: brightness(1.2);
}
button:active{
   transform: scale(.98);
   /* padding: .8rem 2.4rem; */
   filter: contrast(1.3);
} 