.app{
display: grid;
grid-template-columns: 1fr min(99ch, 100%) 1fr;
}
h1{
  margin: 1em 0;
  font-size: 2.6em;
}
p{
  margin: .450rem 0;
  font-size: 1.1em;
}

.app > *{
grid-column: 2;
padding: 0 1em;
}
.full-bleed {
width:100%;
grid-column: 1 / 4;
}

.example-section{
  border-bottom: 1px rgba(0, 0, 0, 0.164) solid;
  min-height: 50vh;
}